.nkxkdi8 {
    font-family: SFProText,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif
}

.eit0mon p,input {
    font-family: Geist,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif
}

.oske3pj {
    margin: .75rem;
    width: 15rem;
    height: 13.5rem;
    border-radius: 25px;
    font-size: 16px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column
}

.d360yns:hover {
    transform: scale(1.02)
}
